.inputContainer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 280px;

  input {
    padding: 10px;
    border-radius: 8px;
    outline: none;
    height: 50px;
    font-size: 16px;
  }

  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    appearance: unset;
  }

  p {
    color: rgb(191, 0, 0);
  }
}
