.button {
  all: unset;
  width: 120px;
  text-align: center;
  cursor: pointer;
  background-color: #ffbc12;
  height: 35px;
  border-radius: 5px;
}

.button:hover {
  background-color: #b98a11;
  transition: all 0.5s;
}

.button:disabled {
  background-color: #b98a11;
}
