.container {
  height: 100vh;
  display: flex;
}

.imageContainer {
  flex: 1;
  display: flex;
}

.formContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;

  .title {
    color: white;
    font-size: 28px;
  }
}
