.container {
  height: 100vh;
  display: flex;

  .imageContainer {
    flex: 1;
    display: flex;
    background: url(/assets/images/bitcoin-cryptocurrency-wallpaper.jpg)
      no-repeat center;
    background-size: cover;
  }

  .formContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;

    .title {
      color: white;
      font-size: 30px;

      .span {
        color: #ffbc12;
      }
    }
  }
}

@media (max-width: 860px) {
  .container {
    .imageContainer {
      display: none;
    }
  }
}
